/* homepage images */
div.row.home-page {
  margin-bottom: 10px;
}

/* location images */
div.first-img {
  padding-right: 0px;
}
div.last-img {
  padding-left: 0px;
}
div.middle-img {
  padding-left: 0px;
  padding-right: 0px;
}
div.row.location-img {
  margin-top: 20px;
}

/* info box */
div.row.info-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* itinerary */
p.itinerary {
  margin-top: 20px;
  font-style: bold;
}